* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('/fonts/louis_george_cafe-webfont.woff2') format('woff2'),
       url('/fonts/louis_george_cafe-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Louis George Cafe bold';
  src: url('/fonts/louis_george_cafe_bold-webfont.woff2') format('woff2'),
       url('/fonts/louis_george_cafe_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #2c362a;
  font-family: 'Louis George Cafe bold', sans-serif;
  margin-bottom: 0px;
  margin-top: 3%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Louis George Cafe bold', sans-serif;
}
.shop-container {
  grid-area: shop;
  text-align: center;
  padding: 10%;
  border-style: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(150, 99, 49);
}
.stock-container {
  grid-area: stock;
  background-color: rgb(150, 99, 49);
  text-align: center;
  color: tan;
  border-style: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.setting-container {
  grid-area: setting;
  text-align: center;
  padding: 10%;
  border-style: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(150, 99, 49);
}
.tab-container {
  background-color: #2f2a36;
  padding:10%;
  border-style: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.add-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  display: grid;
  grid-template-areas:
    "shop stock setting";
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
}
.nav-icon {
  font-size: 15pt;
}
.nav-text {
  font-size: 10pt;
}
.link {
  text-decoration: none;
  color: inherit;
}
.add {
  font-size: 30pt;
  /*color: rgb(136, 134, 236);*/
  color: rgb(137, 176, 53);
  z-index: 3;
  bottom: 140px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
button i:before {
  content: "";
  position: relative;
  background: rgb(82, 55, 29);
  z-index: 1;
  border-radius: 100%;
}
.delete i:before {
  background: rgba(0, 0, 0, 0);
}
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgb(150, 99, 49);
  border-radius: 10px;
  z-index: 9;
  width: 80%;
}
.form-container {
  padding: 20px;
  background-color: rgb(206, 188, 167);
  border: hidden;
  border-radius: 7px;
}
.form-container > *{
  padding: 8px;
}
.form-submission {
  text-align: right;
}
.cancel {
  font-size: 35pt;
  color: rgb(203, 100, 84);
  padding: 0;
  display:flex;
}
.form-title {
  font-size: xx-large;
  display: flex;
  color: rgb(150, 99, 49)
}
.form-container > label {
  color: rgb(150, 99, 49);
  padding: 0;
}
.submit {
  font-size: 35pt;
  line-height: 20pt;
  color: rgb(130, 151, 92);
  padding: 0;
}
.add-container {
  display: flex;
  justify-content: end;
  padding: 0;
}
.close-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.card {
  background-color: rgb(193, 174, 124);
  --bs-card-spacer-y: 0rem;
  line-height: 0pt;
}
.btn-primary {
  --bs-btn-bg: rgb(203, 100, 84);
  --bs-btn-border-color: none;
  color:rgb(193, 174, 124);
  font-weight: bolder;
  border-radius: 120%;
  border-style: hidden;
  line-height: 130%;
}
.food-date {
  display: flex;
  justify-content: space-between;
}
.food-date h5,
.food-date p {
    display: inline;
    vertical-align: top;
}
.delete-container {
  padding: 0;
}
.food-card {
  padding: 0%;
}
.row {
  justify-content: center;
}
.container.food-card {
  padding-bottom: 200px;
}
#numberChoice {
  padding: 12px;
  overflow-y: auto;
}
h1 {
  color: rgb(150, 99, 49);
  text-align: center;
}
#daysDropdown {
  max-height: 1px; /* Set a maximum height for the dropdown */
  overflow-y: auto; /* Enable vertical scrolling when needed */
  margin-bottom: 200px;
}
#daysDropdown option[value=""] {
  display: none;
}
option {
  padding: 0;
  margin: 0;
  overflow-y: auto;
}
.custom-datepicker {
  width: 150px; /* Adjust the width as needed */
  padding: 8px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  background-color: #fff; /* Set background color */
  border: 1px solid #ccc; /* Set border color */
  cursor: pointer; /* Change cursor on hover */
}

.custom-datepicker::-webkit-calendar-picker-indicator {
  display: none;
}

.custom-datepicker::-webkit-inner-spin-button,
.custom-datepicker::-webkit-clear-button {
  -webkit-appearance: none;
  margin: 0;
}
.trash {
  color: rgb(203, 100, 84);
  font-size: larger; 
}
.confirmButton {
  display: inline-block;
  text-align: center;
}
.deleteContainer {
  background-color: rgb(206, 188, 167);
  border-radius: 7px;
  padding: 3%;
}
@media (min-width: 501px) {
  .add {
    bottom: 180px;
  }
}
@media (min-width: 1001px) {
  .add {
    bottom: 200px;
  }
}