* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #2c362a;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}
.shop-container {
  grid-area: shop;
  text-align: center;
  padding: 10%;
  border-style: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(150, 99, 49);
}
.stock-container {
  grid-area: stock;
  background-color: rgb(150, 99, 49);
  text-align: center;
  color: tan;
}
.setting-container {
  grid-area: setting;
  text-align: center;
  padding: 10%;
  border-style: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(150, 99, 49);
}
.tab-container {
  background-color: #2c362a;
  border-style: hidden, solid, solid, solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:10%;
}
footer{
  display:grid;
  grid-template-areas: "shop stock setting";
  grid-template-columns: 1fr 1fr 1fr;
}
.nav-icon {
  font-size: 15pt;
}
.nav-text {
  font-size: 10pt;
}
.link {
  text-decoration: none;
  color: inherit;
}
.add {
  position: fixed;
  bottom: 15%;
  right: 5%;
  font-size: 30pt;
  color: rgb(134, 163, 236)
}
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgb(150, 99, 49);
  border-radius: 10px;
  z-index: 9;
  width: 80%;
}
.form-container {
  padding: 20px;
  background-color: rgb(162, 172, 139);
  border: hidden;
  border-radius: 7px;
}
.form-container > *{
  padding: 8px;
}
.form-submission {
  text-align: right;
}
.cancel {
  font-size: 35pt;
  color: rgb(229, 113, 95);
  padding: 0;
  display:flex;
}
.form-title {
  font-size: xx-large;
  display: flex;
  color: rgb(150, 99, 49)
}
.form-container > label {
  color: rgb(150, 99, 49);
  padding: 0;
}
.add-container {
  display: flex;
  justify-content: end;
  padding: 0;
}
.submit {
  font-size: 35pt;
  line-height: 20pt;
  color: rgb(150, 99, 49);
  padding: 0;
}
.close-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.card {
  background-color: rgb(162, 172, 139);
}